<div class="wrapper">
  <lbd-sidebar *ngIf="isAuthenticated" [headerText]="'Creative Tim'" [headerLink]="'http://www.creative-tim.com'" [headerLogoImg]="'/assets/img/angular2-logo-white.png'"
    [backgroundColor]="'blue'" [backgroundImg]="'/assets/img/sidebar-5.jpg'" [navItems]="navItems">
  </lbd-sidebar>
  <div class="main-panel" [ngClass]="isAuthenticated ? 'main-panel-offset' : ''">
    <lbd-navbar [navItems]="navItems" [isAuthenticated]="isAuthenticated"></lbd-navbar>
    <router-outlet></router-outlet>
  </div>
  <lbd-close-layer></lbd-close-layer>
</div>